
$mobile: 1081px;
$indigo: rgb(14, 27, 48);
$mgreen: rgb(80, 140, 180);
$indigolight: rgba(14, 27, 48, 0.6);
$mgreenlight: rgba(80, 140, 180, 0.6);
$indigosemilight: rgba(24, 47, 83, 0.9);

@mixin shadow {
    -webkit-box-shadow: 0px 10px 15px -7.5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 15px -7.5px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 15px -7.5px rgba(0,0,0,0.75);   
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0%;
    padding: 0%;
    color: $indigo;
    font-family: 'Roboto', sans-serif;
    font-size: 3vh;

    &.freeze {
        overflow: hidden;
    }
}

#header {
    left: 0;
    right: 0;
    margin: auto;
    padding: 2vh;
    z-index: 20;
    font-size: 2.5vh;
    border-radius: 2vh;
    position: fixed;
    width: calc(100vw - 7vh);
    text-align: center;
    white-space: nowrap;
    background-color: $mgreen;
    color: white;
    @include shadow;

    top: -8vh;
    opacity: 0;
    &.active {
        top: 2vh;
        opacity: 1;
        transition: 0.5s;
    }

    #fecha {
        left: 0;
        right: 0;
        margin: auto;
        width: 50%;
    }
    
    #up {
        top: 2vh;
        right: 2.5vh;
        z-index: 100;
        cursor: pointer;
        position: absolute;
        img { width: 3vh; }
    }
    
    #loading {
        top: 1vh;
        left: 1.5vh;
        z-index: -1;
        opacity: 0.6;
        position: absolute;
        img { width: 5vh; }
        display: none;
        &.active { display: inline; }
    }
    
    @media screen and (min-width: $mobile) {
        top: 5vh;
        font-size: 3.5vh;
        padding: 2vh 4vh;
        border-radius: 4.5vh;

        &#up,
        &#loading {
            padding: 2vh 3vh;
        }
    }
}

#oscuro {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;

    display: none;
    &.showing {
        display: inline;
    }
}

#filtros,
#edit,
#leyenda {
    left: 0;
    right: 0;
    margin: auto;
    padding: 2vh;
    z-index: 100;
    position: fixed;
    border-radius: 2vh;
    width: calc(100vw - 7vh);
    @include shadow();

    opacity: 0;
    bottom: -30vh;
    &.showing {
        opacity: 1;
        bottom: 2vh;
        transition: 0.5s;
    }
    
    @media screen and (min-width: $mobile) {
        max-width: 440px;
    }

    span {
        left: 0;
        right: 0;
        color: grey;
        text-align: center;
        font-size: 2vh;
    }

    button {
        font-size: 2.5vh;
        padding: 2vh 3vh;
        border-radius: 1.2vh;
        margin-top: 1.5vh;
        border: none;
    }
}

#filtros,
#edit {

    background-color: rgba(255, 255, 255, 0.95);

    button {
        width: 100%;
        background-color: lightgrey;
        
        &:first-of-type {
            color: white;
            background-color: $mgreen;
        }
    }
        
    #criterios div {
        overflow: hidden;
        box-sizing: border-box;
        text-align: center;
        margin: 2vh;
        
        img {
            width: 6vh;
            margin-bottom: 1vh;
            border: none !important;
        }
        
        div, p {
            width: auto;
            margin: auto;
            &:nth-child(2) { font-weight: 300; }
            &:nth-child(3) { font-size: 3vh; }
        }
    }
}

#filtros {
    transition: 1s;

    &.hidden {
        left: -100vw;
        right: 100vw;
        transition: 1s;
    }
}

#edit {
    left: 100vw;
    right: 200vw;
    bottom: 2vh;
    transition: 0.6s;

    span {
        float: left;
        margin-bottom: 3vh;
    }

    &.showing {
        left: 0;
        right: 0;
        transition: 1s;
    }

    input {
        font-size: 2.5vh;
        padding: 1.8vh 2vh;
        border: 1px solid lightgrey;
        border-radius: 1.2vh;

        &#nombre {
            float: left;
            width: calc(100% - 11vw);
        }
    }

    #color {
        width: 7vw;
        height: 6.7vh;
        float: right;
        margin-top: 0.2vh;
        border: 1px solid lightgrey;
        border-radius: 1.2vh;
    }

    #palette {
        list-style-type: none;
        border: 1px solid lightgrey;
        margin: 0 -1vh 2vh 2vh;
        border-radius: 1vh;
        position: relative;
        min-height: 4vh;
        padding-left: 0;
        float: right;
        width: auto;

        display: none;
        &.active {
            display: inline;
        }
    
        li {
            cursor: pointer;
            float: right;
            margin: 1vh;
            width: 8vw;
            min-height: 12vw;
            border-radius: 1.2vh;
    
            &:nth-child(1) { background-color: #513c55; }
            &:nth-child(2) { background-color: #ed4a71; }
            &:nth-child(3) { background-color: #fe7c0c; }
            &:nth-child(4) { background-color: #fed06e; }
            &:nth-child(5) { background-color: #25d5a1; }
            &:nth-child(6) { background-color: #1e8bb0; }
        }
    }
}

#leyenda {

    background-color: $mgreen;

    span {
        color: white;
    }

    #criterios {
        margin-top: 2vh;

        div {
            display: flex;
            flex-wrap: wrap;
        
            img {
                max-width: 5vh;
                max-height: 5vh;
                float: left;
                flex-grow: 1;
                border: none !important;
            }

            div, p {
                flex-grow: 1;
                float: left;
                color: white;
                margin: 1vh;
                font-size: 2.5vh;
                font-weight: 300;
                display: inline-block;
                
                &:nth-of-type(2n+1) {
                    max-width: 50vw;
                }
                &:nth-of-type(2n+2) {
                    text-align: right;
                }
            }
        }
    }

    button {
        margin: auto;
        float: right;
        color: white;
        background: none;
        padding: 2vh 1.5vh;
        vertical-align: middle;
    }
}

#cabecera, #pie {
    height: 46vh;
    position: relative;

    #balance {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: auto;
        min-height: 40vh;
        padding: 3vh 2.5vw;
        position: absolute;
        overflow: hidden;
        background-image: linear-gradient(to bottom right, $mgreenlight, $mgreen);
        transition: 1s;

        &.oculto {
            display: none;
            transition: 1s;
        }        
        
        @media screen and (min-width: $mobile) {
            max-width: 440px;
        }    

        #tarjetas,
        #cuentas {
            width: 100%;
            display: flex;
            min-height: 19vh;
            flex-wrap: nowrap;
    
            div {
                flex-grow: 1;
                color: white;
                overflow: hidden;
                box-sizing: border-box;
                width: calc(33% - 4vh);
                min-height: 6.5vh;
                margin: auto 1vw 5vh 1vw;
                padding: 0 1vw;
                text-align: center;
                margin-top: auto;
                margin-bottom: 1.5vh;
                white-space: nowrap;
                cursor: pointer;            

                &.bankrupt {
                    border: 1px solid red;
                    border-radius: 2vh;
                }

                img {
                    width: 9vh;
                    padding-top: 1vh;
                    border: none !important;
                }
                
                div {
                    width: auto;
                    border: none;
                    margin: auto;
                    padding: 0.1vh;
                    min-height: auto;
                    border-radius: 0;
                    background: none;
                    
                    &:nth-child(2) {
                        width: auto;
                        color: white;
                        font-size: 4vw;
                        font-weight: 300;
                        margin-top: 1vh;
                        padding: 0.5vh 2.5vw;
                        border-radius: 1vh;
                        display: table;
                    }

                    &:nth-child(3) {
                        margin-top: 0.3vh;
                        padding-bottom: 1vh;
                        font-size: 6vw;
                    }
                }
            }
        }

        #tarjetas {
            border-radius: 1.5vh;
            background-color: rgba(0, 0, 0, 0.1);

            div {
                padding: 1vh 1vw;
                div { padding: 0.1vh; }
                img { padding-top: 2vh; }
            }
        }

        #cuentas {
            margin-top: 1.8vh;
        }
    }

    .posicion {
        height: 46vh;

        div.cuenta {
            left: 0;
            right: 0;
            margin: 20vh auto;
            text-align: center;
            position: absolute;

            img {
                width: 30vw;
                border: none !important;
            }

            div, p {
                width: auto;
                margin: auto;
                &:nth-child(2) { font-weight: 300; }
                &:nth-child(3) { font-size: 5vh; }
            }
        }
    }

    &#cabecera .posicion div.cuenta { margin: 13vh auto 0 auto; }
    &#pie .posicion div.cuenta { margin: 2.5vh auto 0 auto; }
}

#movimientos {
    left: 0;
    right: 0;
    width: 92vw;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

    @media screen and (min-width: $mobile) {
        max-width: 440px;
    }

    div {
        flex-grow: 1;
        overflow: hidden;
        box-sizing: border-box;
        text-align: center;
        font-weight: 300;
        margin: 5px;
        padding: 0;

        &:nth-child(5n+1),
        &:nth-child(5n+2) {
            display: none;
        }

        &:nth-child(5n+3) {
            width: 45%;
            font-size: 2.5vh;
            text-align: left;
            white-space: nowrap;
            padding-top: 2.2vh;
            padding-bottom: 8px;
            margin-bottom: 0;
            vertical-align: middle;
            
            img {
                float: left;
                max-width: 4vh;
                padding-right: 3vw;
                margin: 0 3vw 0.5vh 0;
                border-right-style: solid;
                border-right-width: 0.6vw;
            }

            p {
                margin: 1vh 0 0 0;

                &:nth-of-type(2) {
                    display: none;
                }
            }
        }

        &:nth-child(5n+4) {
            width: 45%;
            font-size: 4vh;
            text-align: right;
            padding-top: 2vh;
            margin-bottom: 0;
            font-weight: 400;

            &.positive {
                color: green;
            }
        }
        
        &:nth-child(5n+5) {
            height: 0;
            width: 100%;
            margin-top: 0;
            margin-bottom: 1vh;
            padding-bottom: 0.5vh;
            text-align: left;
            font-weight: 300;
            font-size: 2.7vh;
            border-bottom: 1px solid $indigolight;
            
            &.focused {
                height: auto;
                opacity: 1;
            }

            &.positive {
                color: $mgreen;
            }
        }

        &:nth-child(5n+5) {
            width: 100%;
            margin-top: 0;
            font-size: 2vh;
            text-align: right;
            font-weight: 300;
        }
    }

    .cuenta {
        cursor: pointer;
    }
}